body {
    background-color: aqua;
}

main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

section {
    width: 20%;
    height: 50px;
    background: red;
}

section.pirma {
    background: green;
    width: 25%;
}

section.antra {
    background: violet;
    width: 25%;
}

section.trece {
    background: yellowgreen;
    width: 25%;
}

section.ketvirta {
    background: violet;
    width: 25%;
}

section.penkta {
    background: turquoise;
    width: 20%;
}

section.sesta {
    background: tomato;
    width: 20%;
}

section.setinta {
    background: yellow;
    width: 20%;
}

section.astunta {
    background: rgb(172, 180, 212);
    width: 20%;
}

section.devinta {
    background: royalblue;
    width: 20%;
}

section.desimta {
    background: grey;
    width: 100%;
}