body {
    background-color: aqua;
}

main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

section {
    width: 20%;
    height: 50px;
    background: red;
}

section.pirma {
    background: green;
}

section.antra {
    background: violet;
}

section.trece {
    background: yellowgreen;
}

section.ketvirta {
    background: violet;
}

section.penkta {
    background: turquoise;
}

section.sesta {
    background: tomato;
}

section.setinta {
    background: yellow;
}

section.astunta {
    background: red;
}

section.astunta {
    background: royalblue;
}

section.devinta {
    background: green;
}

section.desimta {
    background: grey;
}