body {
    font-family: 'Jura', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(174,238,219);
    background: radial-gradient(circle, rgba(174,238,219,1) 0%, rgba(219,107,245,1) 100%);
    height: 50px;
}

img {
    height: 50px;
}

a {
    color: white;
    font-size: 1.2em;
}

a.spalva {
    color: chartreuse;
}

section.section1 {
    width: 10%;
    background: darkmagenta;
}

section.section2 {
    width: 65%;
    background: coral;
}

section.section3 {
    width: 25%;
    background: cyan;
}

main {
    display: flex;
}

section {
    height: calc(100vh - 50px);
}

img.section1-images {
    width: 100%;
    height: calc(100% / 7);
    vertical-align: top;
    object-fit: cover;
}