section {
    background: red;
    width: 200px;
    min-height: 400px;
    border-radius: 4%;
    display: flex;
    flex-wrap: wrap;
}

img.img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

div.time {
    width: 100%;
}

div.image {
    width: 100%;
}

div.title {
    width: 100%;
}

div.content {
    width: 100%;
}

div.info {
    width: 100%;
}