body {
    background: rgb(167, 170, 167);
}

img.header-logo {  
    width: 50px;
    max-height: 100;
    float: left;
}

img.visos-kitos-nuotraukos {
    width: 500px;
    height: 300px;
    float: left;
}

img.antros-sekcijos-nuotrauka {
    float: right;
}

h1 {
    text-align: center;
    color: gold;
}


section {
   min-height: 500px;
}

header {
    height: 100px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

footer {
    text-align: center;
    min-height: 50px;
}
section.spalva1 {
background-color: rgb(99, 10, 134);
}

h2.textas1 {
    color: red;
}

p.pastraipa1 {
    color: yellow;
}

h2.textas2 {
    color: blue;
}

p.pastraipa2 {
    color: orange;
}

h2.texstas3 {
    color: yellow;
}

p.pastraipa3 {
    color: red;
}