body {
    background: rgb(0,50,255);
    background: radial-gradient(circle, rgba(0,50,255,1) 11%, rgba(128,10,10,0.9570203081232493) 78%);
}

img.header-logo {  
    width: 50px;
    max-height: 100;
    float: left;
}

img.visos-kitos-nuotraukos {
    width: 500px;
    height: 300px;
    float: left;
}

img.antros-sekcijos-nuotrauka {
    float: right;
}

h1 {
    text-align: center;
    color: rgb(37, 173, 55);
}


section {
   min-height: 500px;
   background: rgb(0,0,0);
   background: linear-gradient(90deg, rgba(0,0,0,0.44021358543417366) 0%, rgba(107,107,107,0.49343487394957986) 100%, rgba(0,212,255,1) 100%);
}

header {
    height: 100px;
}

h2 {
    text-align: center;
    color: rgb(173, 173, 173);
}

p {
    text-align: center;
    color: white;
}

footer {
    text-align: center;
    min-height: 50px;
}