body {
    font-family: 'Jura', sans-serif;
    background: rgb(28,145,12);
    background: radial-gradient(circle, rgba(28,145,12,1) 0%, rgba(9,255,0,1) 100%);
}

h1 {
text-align: center;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: left;
}
img.padidinti-nuotrauka {
    height: 300px;
}  


section {
    min-height: 200px;
    background: rgb(50,210,29);
    background: radial-gradient(circle, rgba(50,210,29,1) 0%, rgba(14,128,10,1) 100%);
}

section.pirma-sekcija{
    min-height: 200px;
    background: rgb(247, 2, 255);
    background: radial-gradient(circle, rgb(214, 205, 214) 0%, rgb(3, 160, 251) 100%);
}
section.antra-sekcija{
    min-height: 300px;
    background: rgb(221, 143, 18);
    background: radial-gradient(circle, rgb(216, 126, 9) 0%, rgb(199, 22, 125) 100%);
}
section.trecia-sekcija{
    min-height: 200px;
    background: rgb(22, 226, 49);
    background: radial-gradient(circle, rgb(6, 58, 153) 0%, rgb(224, 15, 15) 100%);
}